@import url('https://fonts.googleapis.com/css2?family=Afacad+Flux:wght@100..1000&display=swap');
#ihopsyrupyfootie {
    font-family:"Afacad Flux";
    align-content: center;
    background-color: #378b29;
    color: #ff0000;
    
}